{% extends "base.html.twig" %}
{% block body %}
<div class="container mt-5">
    <div class="heading ">
        <h3 class="pt-2">Signalement</h3>
        <h1 class="pb-2">Consultation tickets</h1>
    </div>
    <table class="table table-striped">
        <tr>
            <th>Date</th>
            <th>Nom</th>
            <th>Statut</th>
        </tr>
        {% if tickets is empty %}
        </table>
        <div class="container"><p class="text-center">Pas de tickets les kheyous</p></div>
        {% else %}
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.date }}</td>
                    <td>{{ ticket.name }}</td>
                    {% if ticket.statut == "En cours" %}
                        <td class="">{{ ticket.statut }}</td>
                    {% elseif ticket.statut == "En suspens" %}
                        <td class="text-danger">{{ ticket.statut }}</td>
                    {% elseif ticket.statut == "Traité" %}
                        <td class="text-success">{{ ticket.statut }}</td>
                    {% else %}
                        <td>{{ ticket.statut }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
{% endblock %}

{#
    TODO:
        - Message (si pas de tickets) - DONE
        - Faire en sorte que les lignes soient cliquable
        - Lignes redirigent vers la page correpondant au ticket
        - Permettre le filtrage dans le tableau (Statut, Date, Type)

    Remarque:
        - La vérification du status pour la mise en forme se fait en brut
#}