{% extends "base.html.twig" %}
{% block body %}
    <h2>Signalements</h2>
    <h1>Informations tickets</h1>

    <p>Nom : {{ name }}</p>
    <p>Date : {{ date }}</p>
    <p>Statut : {{ statut }}</p>
    <p>Source : {{ source }}</p>
    <p>Anomalie : {{ anomalie }}</p>
    <p>Description : {{ description }}</p>
    
{% endblock %}