<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/formQRCode.css">

    <title>Formulaire - test</title>
</head>
<body class="d-flex flex-column">
  <!-- HEADER - NAVBAR -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a src="http://localhost:8000/QRCodeGeneration" class="mr-2">
          <img src="image/logo.png" alt="Logo Anomalus" id="app-logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:8000/QRCodeGeneration">Géneration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8000/QRCodeGenerationMult">Impression automatique</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Formulaire - Generation de QRCode -->
  <div class="container mt-5">
    <form>
      <!-- Selectionner le departement -->
      <div class="form-group">
        <label for="select-departement">Séléctionner un département</label>
        <select class="form-control" id="select-departement" onchange="onChangeTest(this)">
          <option value="" selected disabled hidden>Choose here</option>
          <!-- Génération des options du selects -->
          <!-- <?php 
          foreach ($departement as $value){
            echo "<option>".$value["name"]."</option>";
          }
          ?> -->
        </select>
      </div>

      <!-- Selectionner la salle en fonction du département séléctionné -->

      <div class="flex-grow-1 ">
        <div id="hi" class="form-group" style="display: none;">
          <label id="label-salle" for="select-salle"></label>
          <select id="select-salle" class="form-control">
            <!-- Génération des options du selects -->
          </select>
        </div>
      </div>
    </form>
    <!-- CTA Buttons - Generation / Impression -->
    <button id="btn-generate" class="btn btn-primary" onclick="makeAllCodes(getParams());">Génerer les QRCodes</button>

    
    <!-- Section pour l'affichage des information d'impression -->
    <div id="container-information" class="">
      <div id="container-information-content" style="display: none;"></div>
      <!-- Container pour impression -->
          <div id="qrcode" class="mt-5">

          </div class="">
        <button id="btn-print" class="btn btn-primary" onclick="printQR('qrcode')">Imprimer</button>
      </div>
  </div>


  <!-- FOOTER -->
  <footer class="fixed-bottom row bg-light text-dark">
      <div class="col container-logo">
        <img id="footer-logo" src="https://aero-centre.fr/media/k2/items/cache/2b3803cda6afb35055d78daf226575a8_XL.jpg" alt="Logo de l'IUT" class="">
      </div>
      <div class="pt-4 text-center col-8">
          <p>© 2022 Anomalus - Génération de QRCode</p>
          <p>Mattéo Coulon | Clément Guerin | Matthieu Randriantsoa | Aymeric Serra | Stepan Tyurin | Patience Zampasi | François Zhu</p>
      </div>
      <div class="col">
        <!-- Colonne vide pour mise en page -->
      </div>
  </footer>

<!-- Imporation des scripts -->
<script src="js/generationQRCode/script.js"></script>
<script src="js/generationQRCode/libjs-qrcode/qrcode.js"></script> 
<script src="js/generationQRCode/qrcodeGenerator.js"></script>


</body>
</html>