<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/formQRCode.css">

    <title>Génération de QRCode</title>

    <!-- Imporation des scripts -->
  <script src="js/glpi-api.js" defer ></script>
  <script src="js/generationQRCode/libjs-qrcode/qrcode.js" defer></script> 
  <script src="js/generationQRCode/functions.js" defer></script>
  <script src="js/generationQRCode/script.js" defer></script>
  <script src="js/generationQRCode/qrcodeGenerator.js" defer></script>
</head>
<body class="d-flex flex-column">
  <!-- HEADER - NAVBAR -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a href="http://localhost:8000/QRCodeGeneration" class="mr-2">
          <img src="image/logo.png" alt="Logo Anomalus" id="app-logo">
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="http://localhost:8000/QRCodeGeneration">Géneration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:8000/QRCodeGenerationMult">Impression automatique</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Formulaire - Generation de QRCode -->
  <div class="container mt-5 flex-grow-1">
    <form>
      <!-- Selectionner le departement -->
      <div class="form-group">
        <label for="select-departement">Séléctionner un département</label>
        <select class="form-control" id="select-departement" onchange="onChangeSelectDep('salle', this)">
          <option value="" selected disabled hidden>Choose here</option>
          <!-- Génération des options du selects -->
          <option value="Informatique">Informatique</option>
            <option value="GEA">GEA</option>
        </select>
      </div>

      <!-- Selectionner la salle en fonction du département séléctionné -->

      <div class="flex-grow-1 ">
        <div id="container-select-salle" class="form-group d-none">
          <label id="label-salle" for="select-salle"></label>
          <select id="select-salle" class="form-control" onchange="onChangeSelectRoom('name', this)" >
            <!-- Génération des options du selects -->
            <option value="" selected disabled hidden>Choose here</option>
            <option value="default2">default2</option>
          </select>
        </div>
      </div>
    </form>

    <!-- Selectionner le nom de l'équipement -->

    <div class="flex-grow-1 ">
        <div id="container-select-name" class="form-group d-none">
          <label id="label-name" for="select-name"></label>
          <select id="select-name" class="form-control" onchange="displayBtn('btn-generate')"> 
            <!-- Génération des options des noms -->
          </select>
        </div>
      </div>
    </form>

    <!-- CTA Buttons - Generation / Impression -->
    <button id="btn-generate" class="btn btn-primary d-none" onclick="makeCode()">Génerer le QRCode</button>

    
    <!-- Section pour l'affichage des information d'impression -->
    <div id="container-information" class="mb-5">

      <!-- Container pour impression -->
      <div id="qrcode" class="mt-5 flex-column align-items-center"></div>

      </div>
        <button id="btn-print" class="btn btn-primary d-none" onclick="printQR('qrcode')">Imprimer</button>
      </div>
    </div>
  </div>


  <!-- FOOTER -->
  <footer class="row bg-light text-dark">
      <div class="col container-logo">
        <a href="https://www.univ-orleans.fr/fr/iut-orleans">
          <img id="footer-logo" src="https://aero-centre.fr/media/k2/items/cache/2b3803cda6afb35055d78daf226575a8_XL.jpg" alt="Logo de l'IUT" class="">
        </a>
      </div>
      <div class="pt-4 text-center col-8">
          <p>© 2022 Anomalus - Génération de QRCode</p>
          <p>Mattéo Coulon | Clément Guerin | Matthieu Randriantsoa | Aymeric Serra | Stepan Tyurin | Patience Zampasi | François Zhu</p>
      </div>
      <div class="col">
        <!-- Colonne vide pour mise en page -->
      </div>
  </footer>
</body>
</html>