{% extends "base.html.twig" %}
{% block body %}
<section class="section1">

    <img class="title-img" src="image/AnomalusTitle.png" alt="Anomalus">

    <section class="second">
      <img class="subtitle" src="image/AnomalusSub.png" alt="Sous-titre Anomalus">
    </section>

    <section class="section2">

      <a class ="btn btn-lg btn-custom " type="button" href="scanner" id ="QRcode" value="QR code" > QR code </a>
      <a class="btn btn-lg btn-custom" type="button" href="anomalie" id="NQRcode" value="Sans QR code"> Sans QR code </a>

    </section>
</section class="container mt-5 h-100">

  <div class="user-manual">

    <h1 class="Mode"> Comment ça marche ? </h1>

    <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image" src="image/holdingPhone.png">
        <div>
            <h2 class="featurette-heading"> Prends ton téléphone </h2>
            <p class="lead">Un appareil qui ne fonctionne pas ? Pas de panique ! Maintenant, il est possible de signaler un problème au service informatique. 
            Trouve le QR code de ta salle ou de l’appareil, puis scanne-le ! Commence d’abord par cliquer sur “QR Code”, puis place ton appareil devant le code. </p>
        </div>
      </div>

    <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image" src="image/formExample.png">
        <div>
            <h2 class="featurette-heading">Remplis le formulaire</h2>
            <p class="lead">
              Tu dois ensuite remplir les informations suivantes :
            </p>
            
            <ul>
              <li>
              Adresse mail : rentre ton adresse mail universitaire.
              </li>
              <li>
              Département : dans quel département se trouve le problème ?
              </li>
              <li>
              Salle : dans quelle salle se trouve-t-il ?
              </li>
              <li>
              Type : de quel appareil vient le problème ? Le vidéo-projecteur ? Un ordinateur ?
              </li>
              <li>
              Appareil : quel est le nom de l'appareil ?
              </li>
              <li>
              Source de l'anomalie : d'où vient le problème ? Le clavier ? L'écran ?
              </li>
              <li>
              Info anomalie : quel est le problème ? L'appareil ne s'allume pas ? Ne répond-t-il pas ?
              </li>
              <li>
              Description : ajoute un MAX d’éléments pour aider au mieux nos techniciens à régler les soucis, et participer au bon fonctionnement de l’IUT !
              </li>
              <li>
              Photo : si le problème est visible, une photo permet à nos techniciens de mieux se préparer, et régler plus rapidement le problème.
              </li>
            </ul>
        </div>
      </div>

    <hr class="featurette-divider">

      <div class="featurette">
        <img class="featurette-image" src="image/OK3.png">
        <div>
            <h2 class="featurette-heading">Valide-le !</h2>
            <p class="lead"> Maintenant que tout est rempli, il ne reste plus qu’à valider. Nous traiterons ta plainte le plus rapidement possible !</p>
        </div>
      </div>

  </div>

<footer class="bg-dark text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
  <p>© 2022 Anomalus - Signalement d'anomalies </p>
  <p>Mattéo Coulon | Clément Guerin | Matthieu Randriantsoa | Aymeric Serra | Stepan Tyurin | Patience Zampasi | François Zhu</p>
</footer>
{% endblock %}
