
{% extends "base.html.twig" %}

{% block title %}scanner{% endblock %}

{% block js %}
<script>

function onScanSuccess(decodedText, decodedResult) {
    // handle the scanned code as you like, for example:
    console.log(`Code matched = ${decodedText}`, decodedResult);


      var x = document.getElementById("d1");
      x.setAttribute("style", "display:block");

      document.getElementById("d2").setAttribute("style", "display:none");


      var lien = document.getElementById('val');
      //lien.innerHTML = decodedText; //pour aficher le lien dans le bouton
      lien.href = decodedText;



}

function onScanFailure(error) {
    // handle scan failure, usually better to ignore and keep scanning.
    // for example:
    console.warn(`Code scan error = ${error}`);
}
</script>
{% endblock %}


{% block addMeta %}
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://unpkg.com/html5-qrcode" type="text/javascript"></script>
{% endblock %}


{% block body %}
<main id="main" role="main" class="mt-4 p-2 container bg-white rounded shadow">
  <h1>Formulaire anomalie</h1>
  <div id="d1" style='display:none'>
    <div class=" border m-3 d-flex">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/QR_code_for_mobile_English_Wikipedia.svg/1200px-QR_code_for_mobile_English_Wikipedia.svg.png"
          class="rounded" alt="QrCode" height="100" width="100">
      <div>
        <p class="m-0"><strong>Type : </strong>ordinateru</p>
        <p class="m-0"><strong>Poste : </strong>info2-24</p>
        <small class="form-text text-muted">Aucun signalement fait sur ce poste</small>
      </div>
    </div>
    <a href="#lien" id="val" class="btn btn-outline-success">créer un ticket</a>
  </div>
  <div id="d2">
    <div id="reader" width="600px" height="500px"></div>
    <script>
      let html5QrcodeScanner = new Html5QrcodeScanner(
          "reader",
          { fps: 10, qrbox: {width: 600, height: 500} },
          false
          );
      html5QrcodeScanner.render(onScanSuccess, onScanFailure);
    </script>
  </div>





{% endblock %}
