@media (max-width: 800px) {
    .form-buttons {
        display: flex;
        justify-content: center;
    }

    .form-buttons > * {
        margin: 0.3%;
    }

    .choice-type1 select,  .choice-type1 small {
        max-width: 90%;
    }

    .header-fields {
        display: flex;
        flex-wrap: wrap;
    }
}
.img{
  height: 10px;
}

a {
    text-decoration: none;
}
