body, html{
    height: 100%;
}

body{
    /* font-size: xx-large; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#footer-logo{
    height: 4em;
}

.container-logo{
    align-self: center;
    margin-left: 1em;
}

#app-logo{
    height: 4em;
}

.navbar{
    font-size: 1.2em;
}

#qrcode {
    display: flex;
    flex-wrap: wrap;
}

#qrcode > img {
    width: 256px;
    margin: 16px;
}